body{
    padding: 100px;
}
h1{
    color:red;
}
.submit-area{
    margin-top: 50px;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray; 
    padding: 50px;

}

#transaction-area{
    display: none;
}

.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}

.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}